# OS
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.so

# Environments/IDE
.venv/
venv/
env/
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
*.egg-info/

# Notebooks and papers
.ipynb_checkpoints/
*.ipynb
*.pdf

# Data artifacts
dataloader/data/*.npz

# Results/artifacts
results/**/*.pkl

# Tests (exclude from git)
test/
